
<style>
th,td
{
border:2px solid FireBrick;
}
p
{
white-space:pre-wrap;
} 
</style>
<table style='width:90%; max-width: 900px;'>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
		<td>
        <h2>
		<%= link_to post.title, post %>
		</h2>
		<%=l post.created_at, :format=> :post_datetime %>
		<br />
		<p>
        <%= post.content.split("\n", 2)[0]%>
		</p>
		<br />
 
		<% if logged_in?%>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
		<%end%>
		</td>
		
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts, :class => 'digg_pagination' %>

<br>

