<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://mislav.uniqpath.com/will_paginate/pagination.css">
<head>
  <title>JaidenOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br />
<h1><%= link_to 'Jaiden On Rails', root_url%></h1><br />

<%= yield %>
<div class="footer">
<p>
<br />
<br />
<small>
This site is owned and operated by <%= link_to 'Jaiden Gerig', new_post_path %><br />
<%=mail_to "jaideng123@yahoo.com", "Contact me"%>
</small>
</p>
</div>


</body>
</html>
